.button {
  display: flex;
  flex-flow: row;
  justify-content: right;
  margin: 10px;
}

.button-show-cart {
  background-color: #fecf7c;
  border: 2px solid #ebb656;
  border-radius: 5px;
  margin: 8px;
  padding: 5px 10px;
  width: 200px;
}

.button-show-cart:hover {
  background-color: #ebb656;
}

.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
