.product {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
  display: flex;
  flex-flow: column wrap;
  height: fit-content;
  margin: 30px;
  width: 240px;
  position: relative;
}

img {
  margin-top: 20px;
  max-height: 100px;
  max-width: 100px;
}

.price-product{
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
}

.product-name-price {
  border-top: 2px solid black;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 200px;
}

.button-minus, .button-add {
  background-color: rgb(230, 156, 156);
  border-style: none;
  height: 25px;
  width: 25px;
}

.button-minus {
  background-color: rgb(230, 156, 156);
}

.button-add {
  background-color: rgb(171, 230, 156);
}

.input-quantity {
  height: 20px;
  width: 40px;
}
