.product {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 15px;
  display: flex;
  flex-flow: column;
  height: 400px;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  width: 250px;
}

img {
  width: 50%;
}
