* {
  color: #464646;
  text-align: center;
}

.img {
  background-image: url('../images/logo.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 350px;
  height: 300px;
  margin-bottom: 20px;
  margin-top: 100px;
  width: 1000px;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-forms {
  align-content: center;
  background-color: #fecf7c;
  border-radius: 5px;
  flex-flow: column wrap;
  height: 200px;
  padding: 15px;
  width: 200px;
}

.email,
.password {
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 4px;
  width: 190px;
}

.buttons {
  display: flex;
  flex-flow: column;
}

.button-login,
.button-create {
  background-color: #fecf7c;
  border: 2px solid #ebb656;
  border-radius: 5px;
  margin: 8px;
  padding: 5px 10px;
  width: 200px;
}

.button-login:hover,
.button-create:hover {
  background-color: #ebb656;
}