* {
  align-items: center;
  color: #464646;
}

.home-register {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 250px;
}

.register-forms {
  align-content: center;
  background-color: #fecf7c;
  border-radius: 5px;
  flex-flow: column wrap;
  height: fit-content;
  padding: 15px;
  width: 200px;
}

.email, .name, .password {
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 4px;
  width: 190px;
}

.buttons {
  display: flex;
  flex-flow: column;
}

.button-create-user {
  background-color: #fecf7c;
  border: 2px solid #ebb656;
  border-radius: 5px;
  padding: 5px 10px;
  width: 200px;
}

.button-create-user:hover {
  background-color: #ebb656;
}
