* {
  align-items: center;
  color: #464646;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  justify-content: center;
  align-items: center;
}

.login-forms {
  align-content: center;
  background-color: rgb(127, 228, 127);
  border-radius: 5px; 
  flex-flow: column wrap;
  width: 200px;
  height: 200px;
  padding: 15px;
}

#email, #password {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.button-login, .button-create-user {
  background-color: rgb(127, 228, 127);
  border: 2px solid #464646;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 10px;
}

/* .button-login:hover, .button-create-user:hover {
  background-color: #464646;
  color: white;
} */