* {
  align-items: center;
  background: #0fa36b;
  color: #464646;
}

form {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
}

label {
  margin: 10px;
}

input {
  background-color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 4px;
}

button {
  background-color: #464646;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
}
